<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>アカウント情報の確認</title>
</head>
<body>
	<div class= "head">
		<a href="/itemList"  class= "header">商品一覧に戻る</a>
	</div>	
	<div class="form">
	<table class="table" border="1">
		<tr>
			<td>お名前</td>
			<td th:text="${session.userInfo.name}">
			</td>
		</tr>
		<tr>
			<td>住所</td>
			<td th:text="${session.userInfo.address}">
		</tr>
		<tr>
			<td>電話番号</td>
			<td th:text="${session.userInfo.tel}"></td> 
		</tr>
		<tr>
			<td>e-mail</td>
			<td th:text="${session.userInfo.email}"></td>
		</tr>
	</table>
	<p>
	<a href="/editAccount"><button>アカウント情報の更新</button></a>

	
	</p>
		</div>




</body>
</html>