<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>出品ページ</title>
<script type="text/javascript" src="/JavaScript/newCategory.js"></script>
<script type="text/javascript" src="/JavaScript/inputTypeCheck.js"></script>
</head>

<body>
	<div class= "head">
		<span class= "header">
		<a href="/itemList" >商品一覧に戻る</a>
		</span>
	</div>	

	<div class="form">
		<h1>商品出品ページ</h1>
	
		<span th:text="${message}" style="color: red;"></span>
		<form action="/addItem" method="post"  onsubmit="return chk01(event);">
			
			<div class="form-input">
				<p>商品名<br/>
				<input class="inputDt" type="text" name="name"/></p>
			</div>
			<div class="form-input">
				<p>カテゴリー
					<br/>
						<select class="select" name="categoryKey" onchange="onChangeCategory(event)">
							<option value="">カテゴリを選択</option>
							<option th:each="category: ${categoriesList}"
									 th:value="${category.code}"
									 th:text="${category.name}"
									 ></option>
							<option value="0">その他</option>
						</select>
						</p>
			</div>
			<!-- 追加機能 -->
			<div class="form-input" id="newCategoryDiv" style="display: none">
					<p>新しいカテゴリーを入力してください<br/>
					<input class="inputDt" type="text" name="newCategory" id="newCategory"/></p>
			</div>
			
			<div class="form-input">
				<p>価格
				<span class="detail">(数値かつ2,000,000,000円以下で入力してください)</span>
				<br/>
				<input class="inputDt" type="text" name="price" id="price"/></p>
			</div>
			<div class="form-input">
				<p>画像
				<span class="detail">(画像URLを入力してください)</span>
				<br/>
				<input class="inputDt" type="text" name="picture"/></p>
			</div>
			<div class="form-input">
				<p>在庫数
				<span class="detail">(数値で入力してください)</span>
				<br/>
				<input class="inputDt" type="text" name="stock" id="stock"/></p>
			</div>
			<div class="form-input">
				<p>配達日数
				<span class="detail">(数値で入力してください)</span>
				<br/>
				<input class="inputDt" type="text" name="delivaryDays" id="delivaryDays"/></p>
			</div>
			
			<p class="submit"><input class="submit-button" type="submit" value="出品する"></p>
		
		</form>
		
	</div>
</body>
</html>