<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント情報の更新</title>
</head>
<body>
	<h1>アカウント情報の更新</h1>
	<span th:text="${message}" style="color: red;"></span>
	<form th:action="|/editAccount/${session.userInfo.code}|" method="post">
	
		<p>名前：<input type="text" name="name" th:value="${session.userInfo.name}"/></p>
		<p>住所：<input type="text" name="address" th:value="${session.userInfo.address}"/></p>
		<p>電話番号：<input type="text" name="tel" th:value="${session.userInfo.tel}"/></p>
		<p>メールアドレス：<input type="text" name="email" th:value="${session.userInfo.email}"/></p>
		
		<p><input type="submit" value="更新"></p>
	
	</form>

</body>
</html>