<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>商品詳細</title>
</head>
<body>
	<div class= "head">
			<a href="/itemList" class= "header">商品一覧に戻る</a>
	</div>	
	<div class="form">
		<span th:text="${message}"></span>
		<!-- 選択した商品名表示 -->
		<h1 th:text="${item.name}"></h1>

		<!-- 選択した商品の詳細を表示-->
		<table border="1" class="table">
			<tr>

				<td colspan="2"><img th:src="|/${item.picture}|" /></td>

			</tr>

			<tr>
				<th>カテゴリー</th>
				<td th:text="${category.name}"></td>
			</tr>
			<tr>
				<th>価格</th>
				<td th:text="|${item.price}円|"></td>
			</tr>
			<tr>
				<th>在庫数</th>
				<td th:text="${item.stock}"></td>
			</tr>
			<tr>
				<td colspan="2"  th:text="|${item.delivaryDays}日でお届けします|"></td>
			</tr>

		</table>

		<p th:if="${item.sellerUserCode == session.userInfo.code}">
			<a th:href="|/item/edit/${item.code}|"><button>この商品を更新</button></a>
			<a th:href="|/delete/${item.code}|"><button>この商品を削除</button></a> 
		</p>
		<div th:if="${item.sellerUserCode != session.userInfo.code}">
			<!-- <a th:href="|/cart/add/${item.code}|">カートに追加</a> -->
			<form th:action="|/cart/add/${item.code}|">
				<p>購入個数：
				<select class="quantity" name="quantity">
					<option th:each="i : ${#numbers.sequence(1,item.stock)}"
						th:value="${i}" th:text="|${i}個|"></option>
				</select>
				</p>
				<p class="submit">
				 <input class="submit-button"  type="submit" value="カートに追加">
				</p>
			</form>
		</div>



		</div>
</body>
</html>