<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
	<span><a href="/logout">ログアウト</a></span>
	<span><a href="/accountInfo">ユーザー情報の確認</a></span>
	
	<p th:if="${addItemResult}" style="border-bottom: 1px solid gray;">
		<span>商品の登録が完了しました</span>
	</p>
	
	<p th:if="${deleteItemResult}"style="border-bottom: 1px solid gray;">
		<span>商品が削除されました</span>
	</p>
	
	<!-- TODO session情報に変換 -->
	<p th:text="|いらっしゃいませ${session.userInfo.name}さん|"></p>
	<br/>

	<p th:text="${message}"></p>
	
	<p><a href="/addItem">商品を出品する</a>
	
	<table border="1"  th:each="item:${itemList}"><!-- th:unless ="${itemList == 0}" -->
		<tr>
			<td>  <img th:src="|/${item.picture}|" /></td>
		</tr>
		<tr>
			<td th:text="|商品名：${item.name}|"></td>
			<td th:text="|価格：${item.price}|"></td>
			<td><a th:href="|/itemDetail/${item.code}|">詳細を確認</a></td>
			
		</tr> 
	</table>

</body>
</html>